#title h1{
  color: #FF5E19;
  font-family: 'Berkshire Swash', cursive;
  font-size: 70px;
}
#title p{
  color: white;
}
#title{
  display: flex;
  align-items: center;
  justify-content: center;
}
.goal{
  display: flex;
  justify-content:space-around;
}
body{
  background-color:#434343;
}

#btn{
  background-color:#A2A9AF;
  color: white;
}
li{
  font-size: 20px;
}
#card1 .card{
  height: 340px;
}
#card2 .card{
  height: 400px;
}
#card1 li{
  line-height: 50px;
}
